@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Noto+Sans:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap');

* {
    font-family: montserrat;
    /* font-family: roboto; */
    box-sizing: border-box;
}

:root {
    --darkpurple: #0C002B;
    --grey: #FAF7F5;
    --offwhite: #FFFEFF;
    --pink: #FF718E;
    --darkgrey: #ADA8AA;

}

nav ul li a {
    text-align: center;
    font-weight: 300;
    font-size: 0.9rem;
}

nav ul li a:hover {
    color: var(--pink);
    transition: 0.15s ease-in-out;
}

div select {
    /* background: transparent; */
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #1b1b1b;
    display: block;
    margin-bottom: 25px;
    width: 100%;
}


.filters .title {
    display: block;
    margin: 1rem 0;
    color: var(--darkgrey);
}

.filters input[type="text"] {
    display: inline-block;
    width: 45%;
    margin-right: 2.5%;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.4rem;

}


.extras label {
    display: block;
}

.extras label input {
    vertical-align: middle;
    /* margin-left:40px; */
}

.extra-container{
    padding:10px 0;
    display:flex;
    justify-content:space-between;
    width:90%;
}